{
  "presets": [
    ["env", {
      "shippedProposals": true,
      "targets": {
        "browsers": [
          ">0.5%",
          "firefox esr",
          "safari >= 7",
          "ie >= 11",

        ]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-arrow-functions"
  ],

}
