{
  "extends": [
    "standard",
    "plugin:promise/recommended"
  ],
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["error", 2, {
      "CallExpression": {"arguments": 0},
      "MemberExpression": 0,
      "SwitchCase": 1
    }],
    "no-else-return": "error"
  }
}
