{
  "extends": "stylelint-config-sugarss-recommended",
  "rules": {
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends"
      ]
    }],
    "block-no-empty": null,
    "declaration-block-no-duplicate-properties": true,
    "declaration-no-important": false,
  }
}
