@custom-media --xs-max (max-width: 30em)
@custom-media --xs (min-width: 30em)
@custom-media --sm (min-width: 48em)
@custom-media --sm-max (max-width: 48em)
@custom-media --md (min-width: 64em)
@custom-media --md-max (max-width: 64em)
@custom-media --l (min-width: 75em)
@custom-media --l-max (max-width: 75em)
@custom-media --xl (min-width: 90em)

:root
  --color-green: green
