@import "normalize.css"
@import "flexboxgrid"
@import "core/vars.sss"

body
  font-family: sans-serif
  font-size: 1em
  background-color: #5252d4
  color: white
  text-align: center

  & a
    color: white


